@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	&,
	&:focus-visible{
		outline: none;
	}
}

:root{
	font-size: 16px;

	@media (max-width: 500px){
		font-size: 14px;
	}

	@media (max-width: 280px){
		font-size: 12px;
	}
}

body{
	min-height: 100vh;
}

input{
	&::placeholder{
		@apply text-inherit;
	}

	&:focus::placeholder{
		@apply invisible;
	}
}

#quantity{
	-moz-appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}
}

.divisor{
	@apply relative mb-4;

	&::after{
		@apply bg-slate-400 absolute -bottom-6 w-3/4 max-[300px]:w-11/12 max-w-2xl h-px;

		content: "";
	}
}
