@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

html{
	font-size: 16px;
}

body{
	min-height: 100vh;
}

input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

input::placeholder{
	color: inherit;
}

input:focus::placeholder{
	visibility: hidden;
}

main > section{
	@apply relative flex flex-col items-center gap-4 w-full mb-4;
}

input:is(.corpo, .contato){
	@apply block bg-gray-800 rounded-md py-1 px-2 max-[300px]:w-full w-52 sm:w-60;

	border: 1px solid transparent;

	&::placeholder{
		color: theme("colors.gray.400");
	}

	&:valid:not(.empty){
		border-color: theme("colors.green.700");
	}

	&.focused.empty,
	&:invalid{
		border-color: theme("colors.red.700");
	}
}

.divisor{
	@apply after:bg-slate-400 after:absolute after:-bottom-6 after:w-3/4 after:max-[300px]:w-11/12 after:h-px
}

@media (max-width: 500px){
	html{
		font-size: 14px;
	}
}

@media (max-width: 280px){
	html{
		font-size: 12px;
	}
}
