input[type="text"],
input[type="number"]{
	background-color: var(--background-color-light);
}

input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

input::placeholder{
	color: inherit;
}

input:focus::placeholder{
	visibility: hidden;
}
